<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-outline-secondary" (click)="toggleDarkMode()">
    {{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}
  </button>
</div>
<div class="container text-center mt-5">
    <h1 class="mb-4">🏥 Welcome to Hospital Management System</h1>
    <p class="lead mb-5">Please select your role to continue:</p>
  
    <div class="d-grid gap-4 col-6 mx-auto">
      <a routerLink="/patient/home" class="btn btn-primary btn-lg">👨‍⚕️ Patient</a>
      <a routerLink="/doctor/home" class="btn btn-success btn-lg">🩺 Doctor</a>
      <a routerLink="/admin/home" class="btn btn-dark btn-lg">🛠️ Administrator</a>
    </div>
  </div>
  
